<!-- views/layouts/pdf.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice PDF</title>
    <style>
        /* يمكنك إضافة تنسيقات CSS هنا حسب الحاجة */
        body {
            font-family: Arial, sans-serif;
            margin: 20mm; /* تعيين هوامش PDF */
        }
    </style>
</head>
<body>
    <%- body %> <!-- هذا يمثل المحتوى الذي تم تمريره من القالب الفرعي -->
</body>
</html>
