

<body>
    <div id="message">

        <h2>No Permission</h2>
        <i style="font-size: 100px; color: #cc0000;" class="bi bi-ban"></i>
        <h1>You do not have permission to access this page.</h1>
        <p>This could be due to insufficient access rights or an expired session.</p>
        <a href="/">Go to Home Page</a> | 
        <a href="mailto:support@example.com">Contact Support</a>
    </div>
</body>

