<div class="container">
  
    
  
      <div class="btn-container d-flex justify-content-end mb-4 mt-xl-5">
        <a href="/addsalesinvoice" class="btn btn-primary">
          <i class="bi bi-plus-circle"></i> Add New Invoce
        </a>
      </div>
   
    
      <h3>List of Invoice</h3>
    <div class="table-container"  style="width: 100%; margin: 0 auto;">
      
          <table class="text-center mx-auto table mt-5 table-striped table-bordered" >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col"> ID</th>
                <th scope="col">  Name Client</th>
               
                <th scope="col"> Date </th>
                <th scope="col"> Price</th>
                <th scope="col"> Employee</th>
                
                <th scope="col">Action</th>
            
              </tr>
            </thead>
            <tbody>
            
                <tr>
                    <th scope="row">1</th>
                    <th scope="row">1</th>
                    <th scope="row">1</th>
                    <th scope="row">25</th>
                    <th scope="row">120</th>
                    <th scope="row">120</th>
                
                 
            
                  
                 
                  <td>
                    <a
                      data-bs-toggle="tooltip"
                      data-bs-title="View details"
                      data-bs-placement="top"
                      class="btn btn-info btn-sm"
                      href="/viewitem/ %>"
                    >
                      <i class="bi bi-eye"></i>
                    </a>
    
                    <a
                      data-bs-toggle="tooltip"
                      data-bs-title="Edit item"
                      data-bs-placement="top"
                      class="btn btn-primary btn-sm"
                      href="/edititem/"
                    >
                      <i class="bi bi-pencil"></i>
                    </a>
    
                    <a
                      data-bs-toggle="tooltip"
                      data-bs-title="Delete item"
                      data-bs-placement="top"
                      class="btn btn-danger btn-sm"
                      href="/deleteItemPage/"
                    >
                      <i class="bi bi-trash"></i>
                    </a>
                  </td>
                </tr>
            
 
                <tr>
                    <th scope="row">1</th>
                    <th scope="row">1</th>
                    <th scope="row">1</th>
                    <th scope="row">25</th>
                    <th scope="row">120</th>
                    <th scope="row">120</th>
                  
                   
              
                    
                   
                    <td>
                      <a
                        data-bs-toggle="tooltip"
                        data-bs-title="View details"
                        data-bs-placement="top"
                        class="btn btn-info btn-sm"
                        href="/viewitem/ %>"
                      >
                        <i class="bi bi-eye"></i>
                      </a>
      
                      <a
                        data-bs-toggle="tooltip"
                        data-bs-title="Edit item"
                        data-bs-placement="top"
                        class="btn btn-primary btn-sm"
                        href="/edititem/"
                      >
                        <i class="bi bi-pencil"></i>
                      </a>
      
                      <a
                        data-bs-toggle="tooltip"
                        data-bs-title="Delete item"
                        data-bs-placement="top"
                        class="btn btn-danger btn-sm"
                        href="/deleteItemPage/"
                      >
                        <i class="bi bi-trash"></i>
                      </a>
                    </td>
                  </tr>


                   
                <tr>
                    <th scope="row">1</th>
                    <th scope="row">1</th>
                    <th scope="row">1</th>
                    <th scope="row">25</th>
                    <th scope="row">120</th>
                    <th scope="row">120</th>
                  
                   
              
                    
                   
                    <td>
                      <a
                        data-bs-toggle="tooltip"
                        data-bs-title="View details"
                        data-bs-placement="top"
                        class="btn btn-info btn-sm"
                        href="/viewitem/ %>"
                      >
                        <i class="bi bi-eye"></i>
                      </a>
      
                      <a
                        data-bs-toggle="tooltip"
                        data-bs-title="Edit item"
                        data-bs-placement="top"
                        class="btn btn-primary btn-sm"
                        href="/edititem/"
                      >
                        <i class="bi bi-pencil"></i>
                      </a>
      
                      <a
                        data-bs-toggle="tooltip"
                        data-bs-title="Delete item"
                        data-bs-placement="top"
                        class="btn btn-danger btn-sm"
                        href="/deleteItemPage/"
                      >
                        <i class="bi bi-trash"></i>
                      </a>
                    </td>
                  </tr>

            </tbody>
          </table>
          
      
</div>